<div class="container">
  <div class="text-center mt-5">
    <h1>Here are our Classes!</h1>
  </div>
</div>

<div class="container">
  <div class="text-center m-5">
    <% if !current_user.nil? && current_user.pt %>
      <%= link_to new_session_path do %>
        <button type="button" class="btn btn-success">Add your class!</button>
      <% end %>
    <% end %>
  </div>
</div>


<div class="container">
<div class="text-center">
    <% @sessions.each do |session| %>
      <%= link_to session_path(session) do %>
        <div class="flip m-2">
            <% if session.photo.attached? %>
              <div class="front" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path session.photo.key %>')">

            <% else %>
              <div class="front" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://res.cloudinary.com/dyndl1bic/image/upload/v1605194054/full-logo-03_qj0t4l.jpg)">

            <% end %>
               <h1 class="text-shadow"><%= session.name %></h1>
            </div>
            <div class="back">
                <p><%= session.location %></p>
                <p><%= session.date %></p>
                <p><%= session.description %></p>
            </div>
        </div>
      <% end %>
    <% end %>
</div>
</div>

<div class="text-center m-5">
  <div id="map"
   style="width: 100%; height: 500px;"
   data-markers="<%= @markers.to_json %>"
   data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<script>
  function reloadPage() {
  // The last "domLoading" Time //
  var currentDocumentTimestamp =
  new Date(performance.timing.domLoading).getTime();
  // Current Time //
  var now = Date.now();
  // Ten Seconds //
  var tenSec = 1000;
  // Plus Ten Seconds //
  var plusTenSec = currentDocumentTimestamp + tenSec;
  if (now > plusTenSec) {
  location.reload();
  } else {}
  }
  reloadPage();
</script>
