<h1>Create a Class</h1>

<%= simple_form_for @session do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :tipo, collection: Session::TIPO %>
    <%= f.input :location %>
    <%= f.input :date %>
    <%= f.submit %>
<% end %>


