
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6">


      <h1>Create Your Class</h1>

      <%= simple_form_for @session do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :tipo, collection: Session::TIPO %>
          <%= f.input :location %>
          <%= f.input :date %>
          <%= f.input :photo, as: :file %>
          <%# <%= f.submit %>


        <div class="form-actions mb-2 mt-4">
          <%= f.button :submit, "Confirm", class:"btn btn-success" %>
        </div>
        <% end %>

    </div>
  </div>
</div>




