
<div class="container">

<div class="row justify-content-center m-5">

  <div class="card-product">
    <% if @session.photo.attached?%>
      <%= cl_image_tag @session.photo.key%>
    <% else %>
      <%= cl_image_tag "https://res.cloudinary.com/dyndl1bic/image/upload/v1605194054/full-logo-03_qj0t4l.jpg" %>
    <% end %>
    <div class="card-product-infos ml-3">
      <h3><%= @session.name %></h3>
      <p style="font-size: 16px;"><%= @session.location %> - <%= @session.date %></p>
      <p><%= @session.description %></p>
      <% if user_signed_in? %>
      <div class="mt-5">
        <%= render 'bookings/new' %>
      </div>
      <% else  %>
      <p>Sign in to save your spot!</p>
      <% end %>
    </div>
  </div>

</div>

<div class="row justify-content-center">
  <div class="col-6 m-5">
    <p><strong>Who's attending?</strong></p>
      <div class="d-flex space-around">
        <% @attending.each do |user| %>
            <% if user.photo.attached?  %>
              <%= cl_image_tag user.photo.key, :class => "avatar" %>
            <% else  %>
              <%= cl_image_tag "logo-avatar2-02_kqleye.jpg", :class => "avatar" %>
              <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                <%= user.name  %>
              </button>
            <% end  %>
        <% end %>
      </div>
  </div>
</div>


  <div class="row justify-content-center">
    <div class="col-6 m-5">
        <%= render 'reviews/new' %>
     <div class="text-center m-5">
       <%= link_to sessions_path do %>
       Back to list
       <% end %>
     </div>
   </div>
  </div>


</div>
