<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6">

    <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs flex-directions mb-3">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :name,
                      hint:"leave it blank if you don't want to change it",
                      required: false,
                      input_html: {autocomplete: "Do You wanto to change your name?"} %>
          <%= f.input :photo, as: :file,
                      required: false,
                      input_html: {autocomplete: "add a picture"} %>
          <%= f.input :phone,
                      hint:"leave it blank if you don't want to change it",
                      required: false,
                      input_html: {autocomplete: "Do You wanto to change your phone?"} %>
          <%= f.input :pt,
                      required: false,
                      input_checkbox: { Yes: true, No: true },
                      label: "Personal Trainer" %>
          <%= f.input :specialty,
                      hint:"leave it blank if you don't want to change it",
                      required: false,
                      input_html: {autocomplete: "Do You wanto to change your name?"} %>
          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :photo, as: :file, 
                      required: false,
                      input_html: { autocomplete: "add a picture" } %>                  
	      </div>

      <div class="d-flex bd-highlight mb-2 mt-4">

        <div class="mr-auto bd-highlight">
            <div class="form-actions mb-2">
              <%= f.button :submit, "Update", class:"btn btn-success"  %>
            </div>
              <% end %>
        </div>

        <div class="bd-highlight">
          <p><%= link_to " Delete", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %></p>
        </div>
      </div>
        <%= link_to "Back", :back %>

    </div>
  </div>
</div>

