
<div class="row justify-content-center">
      <% @session.reviews.each do |review| %>
  <div class="card m-2" style="width: 800px;">
      <div class="card-body">
      <% if review.user.photo.attached?  %>
        <div class="mb-2 media">
          <%= cl_image_tag review.user.photo.key, :class => "avatar" %>
        </div>
        <% else  %>
        <div class="mb-2 media">
          <%= cl_image_tag "logo-avatar2-02_kqleye.jpg", :class => "avatar" %>
        </div>
        <% end  %>
        <div class="media-body mb-2">
          <h5 class=""><%= review.user.name %></h5>
          <%= review.description %> <span class="badge badge-success"><%= review.rating %></span>
        </div>
      </div>
  </div>
      <% end %>
</div>





